* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'iconfont';
  src: url("../font4/iconfont.eot");
  src: url("../font4/iconfont.eot?#iefix") format("embedded-opentype"), url("../font4/iconfont.woff") format("woff"), url("../font4/iconfont.ttf") format("truetype"), url("../font4/iconfont.svg#iconfont") format("svg");
}
/* font-family:iconfont; */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/******************fixed*******************************/
.fixedUl1 {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 900;
}
.fixedUl1 > li {
  width: 66px;
  height: 66px;
  background: #d41c50;
  margin-bottom: 1px;
  border: 1px solid #d41c50;
  text-align: center;
}
.fixedUl1 > li > span {
  display: block;
  width: 36px;
  height: 32px;
  background: url(../images/fb-side.png) no-repeat;
  margin-left: 16px;
  margin-top: 5px;
}
.fixedUl1 > li > a {
  font-size: 12px;
  color: #fff;
}
.fixedUl1 > #fixed1-li-1 {
  display: none;
}
.fixedUl1 > #fixed1-li-1 > span {
  background-position: -106px 0px;
}
.fixedUl1 > #fixed1-li-1:hover {
  border: 1px solid #ccc;
  background-color: #fff;
}
.fixedUl1 > #fixed1-li-1:hover > a {
  color: #d51e51;
}
.fixedUl1 > #fixed1-li-1:hover > span {
  background-position: -106px -36px;
}
.fixedUl1 > #fixed1-li-2 > span {
  background-position: -36px 0px;
}
.fixedUl1 > #fixed1-li-2:hover {
  border: 1px solid #ccc;
  background-color: #fff;
}
.fixedUl1 > #fixed1-li-2:hover > a {
  color: #d51e51;
}
.fixedUl1 > #fixed1-li-2:hover > span {
  background-position: -36px -36px;
}
.fixedUl1 > #fixed1-li-3 > span {
  background-position: 0px 0px;
}
.fixedUl1 > #fixed1-li-3:hover {
  border: 1px solid #ccc;
  background-color: #fff;
}
.fixedUl1 > #fixed1-li-3:hover > a {
  color: #d51e51;
}
.fixedUl1 > #fixed1-li-3:hover > span {
  background-position: 0px -36px;
}
.fixedUl1 > #fixed1-li-4 > span {
  background-position: -72px 0px;
}
.fixedUl1 > #fixed1-li-4:hover {
  border: 1px solid #ccc;
  background-color: #fff;
}
.fixedUl1 > #fixed1-li-4:hover > a {
  color: #d51e51;
}
.fixedUl1 > #fixed1-li-4:hover > span {
  background-position: -36px -36px;
}

.fixedUl2 {
  display: none;
  position: fixed;
  left: -48px;
  top: 60px;
  z-index: 900;
  background: #fff;
  padding: 0 10px;
}
.fixedUl2 > li {
  width: 50px;
  height: 10px;
  padding: 10px 0px;
}
.fixedUl2 > li > a {
  display: block;
  width: 50px;
  height: 26px;
  background: url(../images/floor.png) no-repeat;
}
.fixedUl2 > #fixed2-li-1 > a {
  background-position: 0px -63px;
}
.fixedUl2 > #fixed2-li-1:hover > a {
  background-position: -164px -63px;
}
.fixedUl2 > #fixed2-li-2 > a {
  background-position: 0px -96px;
}
.fixedUl2 > #fixed2-li-2:hover > a {
  background-position: -164px -95px;
}
.fixedUl2 > #fixed2-li-3 > a {
  background-position: 0px -127px;
}
.fixedUl2 > #fixed2-li-3:hover > a {
  background-position: -164px -126px;
}
.fixedUl2 > #fixed2-li-4 > a {
  background-position: 0px -158px;
}
.fixedUl2 > #fixed2-li-4:hover > a {
  background-position: -164px -159px;
}
.fixedUl2 > #fixed2-li-5 > a {
  background-position: 0px -190px;
}
.fixedUl2 > #fixed2-li-5:hover > a {
  background-position: -164px -190px;
}
.fixedUl2 > #fixed2-li-6 > a {
  background-position: -80px -222px;
}
.fixedUl2 > #fixed2-li-6:hover > a {
  background-position: -164px -222px;
}

/*************************top-wrap************************/
.top-wrap {
  height: 70px;
  background: #f4e8d8;
}
.top-wrap .top {
  width: 1260px;
  height: 70px;
  margin: 0 auto;
}
.top-wrap .top img {
  margin-left: 299px;
  margin-top: 1px;
}

/*************************top-nav************************/
.top-nav-wrap {
  height: 34px;
  border: 1px solid #d8d9dc;
  background-color: #f2f2f2;
}
.top-nav-wrap .top-nav {
  width: 1220px;
  margin: 0 auto;
  height: 34px;
}
.top-nav-wrap .top-nav #top-left {
  float: left;
  line-height: 34px;
  font-size: 12px;
}
.top-nav-wrap .top-nav #top-left a {
  color: #000;
}
.top-nav-wrap .top-nav #top-left a:hover {
  color: red;
}
.top-nav-wrap ul {
  float: right;
}
.top-nav-wrap ul li {
  float: left;
  line-height: 34px;
  position: relative;
}
.top-nav-wrap ul li:hover a {
  color: red;
}
.top-nav-wrap ul a {
  color: #000;
  font-size: 12px;
}
.top-nav-wrap ul #my {
  width: 50px;
  padding-right: 10px;
  background: url("../images/x1.jpg") no-repeat right center;
}
.top-nav-wrap ul #shoppingCar {
  width: 80px;
  padding-left: 50px;
  margin: 0 5px;
}
.top-nav-wrap ul #shoppingCar:hover {
  background: #fff;
}
.top-nav-wrap ul #shoppingCar:hover a b {
  background: url("../images/t2.png") no-repeat center;
}
.top-nav-wrap ul #shoppingCar:hover div {
  display: block;
}
.top-nav-wrap ul #shoppingCar #sCar {
  width: 22px;
  height: 19px;
  background: url("../images/car.png") no-repeat top center;
  position: absolute;
  left: 20px;
  top: 8px;
}
.top-nav-wrap ul #shoppingCar a b {
  position: absolute;
  left: 100px;
  top: 15px;
  width: 10px;
  height: 7px;
  background: url("../images/t1.jpg") no-repeat center;
}
.top-nav-wrap ul #shoppingCar div {
  display: none;
  width: 280px;
  line-height: 54px;
  border: 1px solid #eee;
  border-top: 0;
  background: #fff;
  position: absolute;
  left: -70px;
  top: 35px;
  font-size: 12px;
  color: #ccc;
  text-align: center;
}
.top-nav-wrap ul #in {
  width: 74px;
  padding-left: 10px;
  background: url("../images/x2.jpg") no-repeat left center;
}
.top-nav-wrap ul #in:hover {
  background: #fff;
}
.top-nav-wrap ul #in:hover a b {
  background: url("../images/t2.png") no-repeat center;
}
.top-nav-wrap ul #in:hover div {
  display: block;
}
.top-nav-wrap ul #in a {
  width: 80px;
  height: 30px;
}
.top-nav-wrap ul #in a b {
  position: absolute;
  left: 60px;
  top: 15px;
  width: 10px;
  height: 7px;
  background: url("../images/t1.jpg") no-repeat center;
}
.top-nav-wrap ul #in div {
  display: none;
  width: 266px;
  height: 252px;
  background: #fff;
  border: 1px solid #ccc;
  border-top: 0;
  position: absolute;
  top: 35px;
  left: -183px;
}

/***************header*************************/
header {
  width: 1220px;
  margin: 0 auto;
  height: 102px;
  box-sizing: border-box;
  padding: 22px 0 24px 0;
}
header h1 {
  float: left;
  width: 90px;
  height: 52px;
  margin-right: 463px;
}
header form {
  float: left;
  margin-right: 26px;
}
header form #Searchtext {
  float: left;
  width: 308px;
  height: 28px;
  background-color: #f0f0f0;
  border: 1px solid #d8d9dc;
  border-bottom: 0;
  overflow: hidden;
}
header form #Searchtext input {
  outline: none;
  border: 0;
  background-color: #f0f0f0;
  overflow: hidden;
  width: 308px;
  height: 28px;
}
header form #Searchbtn {
  float: left;
  width: 80px;
  height: 30px;
}
header form #Searchbtn input {
  outline: none;
  border: 0;
  background-color: #ca224e;
  width: 80px;
  height: 30px;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}
header form p {
  width: 100%;
  height: 28px;
  line-height: 28px;
}
header form p a {
  margin-left: 5px;
  font-size: 12px;
  color: #666;
}
header form p a:hover {
  color: red;
}
header #header_right img {
  display: block;
  width: 77px;
  height: 77px;
  float: left;
  margin-top: -10px;
}

/***************nav*************************/
.nav-wrap {
  background: #d41c4f;
}
.nav-wrap nav {
  height: 35px;
  width: 1220px;
  margin: 0 auto;
}
.nav-wrap nav > span {
  position: relative;
  float: left;
  line-height: 35px;
  background: #ac143f;
  cursor: pointer;
  position: relative;
  width: 230px;
  text-align: center;
}
.nav-wrap nav > span > span {
  color: #fff;
}
.nav-wrap nav > span > span:hover {
  background-color: #a21e43;
}
.nav-wrap nav > span > ul {
  width: 230px;
  height: 440px;
  position: absolute;
  left: 0;
  top: 35px;
  border: 1px solid #bcbcbc;
  z-index: 200;
  background: #fff;
  box-shadow: 1px 0 1px #ccc;
}
.nav-wrap nav > span > ul > li {
  height: 91px;
  padding: 0 10px;
  position: relative;
  z-index: 999;
}
.nav-wrap nav > span > ul > li > h4 {
  height: 37px;
}
.nav-wrap nav > span > ul > li > h4 > span {
  font-size: 12px;
  float: left;
  padding-left: 25px;
  background: url("../images/bao.jpg") no-repeat center left;
}
.nav-wrap nav > span > ul > li > h4 > b {
  float: right;
  color: #666;
}
.nav-wrap nav > span > ul > li > ul {
  height: 54px;
  position: relative;
}
.nav-wrap nav > span > ul > li > ul > li {
  float: left;
  margin-right: 10px;
  line-height: 23px;
  font-size: 12px;
}
.nav-wrap nav > span > ul > li > ul > li > a {
  color: #666666;
}
.nav-wrap nav > span > ul > li > ul > li > a:hover {
  text-decoration: underline;
}
.nav-wrap nav > span > ul > a {
  line-height: 46px;
  font-size: 12px;
  width: 100%;
  color: #666666;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
}
.nav-wrap nav > span > ul > hr {
  border: 0;
  height: 1px;
  background: #ccc;
  width: 210px;
  margin: 0 auto;
}
.nav-wrap nav > span > ul > div {
  display: none;
  min-width: 100px;
  padding: 10px;
  height: 420px;
  border: 1px solid #ccc;
  box-shadow: 0 0 2px #ccc;
  border-top: 0;
  background: #fff;
  position: absolute;
  left: 227px;
  top: 0px;
  z-index: 300;
}
.nav-wrap nav > span > ul > .show {
  border: 1px solid #ccc;
  border-right: 0;
  box-shadow: -2px 2px 2px #ccc;
  background: #fff;
}
.nav-wrap nav > ul {
  float: left;
}
.nav-wrap nav > ul > li {
  float: left;
  padding: 0 15px;
  line-height: 35px;
}
.nav-wrap nav > ul > li > a {
  color: #fff;
}
.nav-wrap nav > ul > li:hover {
  background-color: #a21e43;
}
.nav-wrap nav > ul > li:nth-child(2) {
  background-image: url("../images/xx.jpg");
  background-repeat: no-repeat;
  background-position: center right;
}
.nav-wrap nav > ul > li:nth-child(3) {
  background-image: url("../images/xx.jpg");
  background-repeat: no-repeat;
  background-position: center right;
}
.nav-wrap nav > b {
  float: right;
  width: 75px;
  line-height: 35px;
}
.nav-wrap nav > b:hover > a {
  text-decoration: underline;
}
.nav-wrap nav > b > a {
  color: #fff;
  font-weight: 100;
  font-size: 12px;
}
.nav-wrap nav > b > i {
  font-family: iconfont;
  font-size: 18px;
  color: #fff;
  font-style: normal;
}

/********************footer******************************/
footer {
  width: 1200px;
  margin: 0 auto;
  min-height: 200px;
  margin-top: 60px;
  /******************************footer-1*********************/
  /******************************footer-2*********************/
}
footer .footer-1 {
  height: 143px;
  background-position: pink;
}
footer .footer-1 > .er {
  float: left;
  height: 143px;
}
footer .footer-1 > .er > li {
  float: left;
  width: 104px;
  margin-right: 10px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
}
footer .footer-1 > .weixin {
  float: right;
  padding-right: 30px;
  height: 119px;
  border-left: 1px solid #dedede;
}
footer .footer-1 > .weixin > li {
  float: left;
  margin-top: 50px;
  color: #525254;
  padding: 0 10px;
  height: 27px;
  border-left: 1px solid #dedede;
}
footer .footer-1 > .weixin > #weixin {
  position: relative;
}
footer .footer-1 > .weixin > #weixin > img {
  display: none;
  position: absolute;
  left: -100px;
  top: -300px;
}
footer .footer-1 > .weixin > #weixin:hover img {
  display: block;
}
footer .footer-2 {
  height: 58px;
  background: #e61e56;
}
footer .footer-2 > ul {
  height: 58px;
  padding: 0 110px;
}
footer .footer-2 > ul > li {
  width: 243px;
  float: left;
  line-height: 58px;
  text-align: center;
  background: url(../images/xian.jpg) no-repeat center right;
}
footer .footer-2 > ul > li a {
  float: left;
  margin-left: 50px;
  padding-left: 28px;
  color: #fff;
  font-size: 12px;
}

/***************************bottom********************************/
.bottom-wrap {
  height: 153px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: 30px;
}
.bottom-wrap .bottom {
  height: 153px;
}
.bottom-wrap .bottom > li {
  float: left;
  padding: 0 40px;
  height: 95px;
  font-size: 12px;
  margin-top: 30px;
  background: url(../images/xian1.jpg) no-repeat center right;
}
.bottom-wrap .bottom > li a {
  color: #999;
  line-height: 20px;
}
.bottom-wrap .bottom > li a:hover {
  color: #b70b0b;
  text-decoration: underline;
}

/***************************bottom-1********************************/
.bottom-1 {
  height: 170px;
  width: 1220px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}
.bottom-1 > a {
  color: #999;
  font-size: 12px;
}
.bottom-1 > a:hover {
  text-decoration: underline;
}
.bottom-1 > ul {
  width: 100%;
  height: 86px;
  margin: 0 auto;
}
.bottom-1 > ul > li {
  float: left;
  font-size: 12px;
  padding: 0 10px;
  margin-top: 30px;
}
.bottom-1 > ul > li a {
  color: #999;
}
.bottom-1 > ul > li a:hover {
  text-decoration: underline;
}
.bottom-1 > ul > li .imgA1 {
  float: left;
  width: 68px;
  height: 30px;
  background: url(../images/p.png) no-repeat;
  background-position: -115px -80px;
}
.bottom-1 > ul > li .imgA2 {
  float: left;
  width: 40px;
  height: 30px;
  background: url(../images/p.png) no-repeat;
  background-position: -156px -46px;
}
.bottom-1 > ul > li .imgA3 {
  float: left;
  width: 42px;
  height: 50px;
  background: url(../images/p.png) no-repeat;
  background-position: -107px 0px;
  margin-top: -15px;
}
.bottom-1 > ul > li .imgA4 {
  float: left;
  width: 38px;
  height: 37px;
  background: url(../images/p.png) no-repeat;
  background-position: -63px -26px;
  margin-top: -4px;
}
.bottom-1 > ul > li .imgA5 {
  float: left;
  width: 55px;
  height: 48px;
  background: url(../images/p.png) no-repeat;
  background-position: 0px -595px;
  margin-top: -15px;
}

/*# sourceMappingURL=public.css.map */
